

/*----------------------------------- Basic Page Setup Header, Footer, Logo, and Nav*/
body {
    margin-top: 0px;
}

header {
    background: url("../images/guilherme-petri-602659-unsplash.jpg") center;
    opacity: 0.8;
    height: 35vh;
    background-size: cover;
    
}

header p {
    color: white;
    background: black;
    opacity: .6;

    padding: 10px;
    float: right;
}

header img {
    background: black;
    opacity: .6;
    padding: 10px;

}

header a {
    color: #fff;
}

header a:hover {
    color: #EBABCB;
}

#logo {
    height: 120px;
    width: 120px;
    ;
}

footer {
    background: #F0D3F7;
    clear: both;
    margin-top: 5rem;
    padding: 15px;

}

footer img {
    width: 40px;
    height: 40px;
    margin-bottom: .5rem;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #6E44FF;
}


/*------------------------------------------------------------Fonts*/
@font-face {
    font-family: mainfont;
    src: url(https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap);
}

html {
    font-size: 14px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

header p{
    font-size: 10px;
}
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

footer h3 {
    
    font-size: 18px;   
}

/*--------------------------------------------------------------------Index Page*/

#intro {
    background: #EBABCB;
    height: 150%;
    padding: 25px;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

#latestWork img {
    width: 300px;
    height: 100%;
    padding: 10px;
    
}
#latestWork div{
    margin-bottom: 2rem;
}
#latestWork h2 {
    background: #EBABCB;
    height: 150%;
    padding: 25px;
    margin-bottom: 4rem;
}

#aboutme h2 {
    background: #EBABCB;
    height: 150%;
    padding: 25px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

button{
    border: 1px solid black;
    background: #B6A6CA;
    padding: 15px;
    font-family: mainfont;
}
button:hover{
    background: #86BBD8;
    border: 1px solid #EBABCB;
}
#gallerybtn {
    border: 1px solid black;
    background: #B6A6CA;
    padding: 15px;
    font-family: mainfont;
    color: #000000;
    margin-top: 6rem;
}

#gallerybtn:hover {
    background: #86BBD8;
    border: 1px solid #EBABCB;
    color: #000;
    
}

#submit {
    border: 1px solid black;
    background: #B6A6CA;
    padding: 10px;
    font-family: mainfont;
}

#submit:hover {
    background: #86BBD8;
    border: 1px solid #EBABCB;
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem
}


/***********************************************************************************/
/*------------------------------------------------------------------------------------------Gallery Page----------------------------------*/
#requestbtn{
    border: 1px solid black;
    background: #B6A6CA;
    padding: 7px;
    font-family: mainfont;
    color: #000000;
    
}
#requestbtn:hover{
    background: #86BBD8;
    border: 1px solid #EBABCB;
    color: #000;
}
#returnhomebtn{
    border: 1px solid black;
    background: #B6A6CA;
    padding: 15px;
    font-family: mainfont;
    color: #000000;
    margin-bottom: 3rem;
}
#returnhomebtn:hover{
    background: #86BBD8;
    border: 1px solid #EBABCB;
    color: #000;
}
#gallery img {
    object-fit: fill;
    margin-bottom: 2rem;
    
}

#galleryhead {
    background: #EBABCB;

    height: 150%;
    padding: 25px;
    margin-bottom: 2rem;
    margin-bottom: 6rem;
}

#request {
    background: #AED9E0;
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding: 3px;
}


/*------------------------------------Request Service Page---------------------------------------------*/
#requestService h2 {
    background: #EBABCB;
    height: 150%;
    padding: 25px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
form{
    border: 1.5px solid black;
    padding: 15px;
    margin-bottom: 3rem;
}


/************************---------------------------------------------------Media **------------*/
@media(max-width: 574px){
    nav a{
        margin-bottom: 2rem;
        padding-left: 3px;
    }
}
@media(min-width: 575px) {
    #aboutme p {
        position: relative;
        top: 25%;
    }
    nav a{
        margin-right: 3rem;
    }
}

@media(min-width: 700px) {
    html {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }
    header p{
        font-size: 12px;
    }
    
    #logo {
        height: 250px;
        width: 250px;
        
    }

    #aboutme p {
        position: relative;
        top: 20%;
        font-size: 16px;
    }
    
}
@media(min-width: 768px){
    #gallerybtn{
        position: relative;
        top: 40%;
    }
}

@media(min-width: 991px) {
    html {
        font-size: 17px;
    }

    p {
        font-size: 17px;
    }
    header p{
        font-size: 14px;
    }
    
    #welcome p {
        position: relative;
        top: 18%;
        font-size: 19px;
    }
    #aboutme p{
        font-size: 19px;
    }
    #gallerybtn{
        position: relative;
        top: 40%;
    }
}