/* Rock Band CSS
================================================== 
================================================== */
/** Default **/

html {
    font-size: 62.5%;
}
/*****************BODY FONT*****************/
#homepageBody{
    background: url("../images/band.jpg") repeat;
}
body {
    font: 1.6rem/1.25 "Program OT", arial, sans-serif;
    color: #888888;
    background: #000;
}
    /*************** BASE STRUCTURE **************/
header{
    margin-bottom: 13rem;
}
footer{
    background: white;
    text-align: center;

}
footer li{
    display: inline;
    color: #783C90;
}
.heading{
    background: url("../images/band.jpg");
    padding-bottom: 13rem;
}
.logo{
    padding-left: 50px;
    padding-top: 75px;
}
img{
    max-width: 100%;
}

/*************NAVIGATION*****************/
nav{
    padding-top: 2rem;

}
nav li{
    padding: .5rem;
}
nav a:link{
    font: 2.0rem/1 "Program OT",arial,sans-serif;
    font-weight: 700;
    color: #EEEEEE;
    opacity: 0.5;
    text-transform: uppercase;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
nav a:visited{
    color: #EEEEEE;
    opacity: 0.5;
}
nav a:hover{
    color:#EEEEEE;
    opacity: 1.0;
}
#navabout{
    color: #EEEEEE;
    opacity: 1.0;
    border-left: 3px solid #9B59B6 ;
}
#navcontact{
    color: #EEEEEE;
    opacity: 1.0;
    border-left: 3px solid #9B59B6 ;
}
#navnews{
    color: #EEEEEE;
    opacity: 1.0;
    border-left: 3px solid #9B59B6 ;
}
#navtour{
    color: #EEEEEE;
    opacity: 1.0;
    border-left: 3px solid #9B59B6 ;
}
/***********************HOME PAGE*******************/
/**************SINGLE ****************/
#single{
    background: #000000;
    width: 35rem ;
    padding: 1rem;
    float: right;
}

/***********************Blog Section HP************/
#blog{
    padding-top: 2rem;
    padding-left: 8rem;
    background: #ffffff;
}

#blog #featured {
    width: 50%;
    height: 100%;
    

}
#blog article{
    width: calc(25%);
    padding: 2rem;
    margin-bottom: 2rem;
    float: left;

}
#blog button{
    display: block;
}
#blog p, #blog h3{
    text-align: center;
}
section{
    padding: 2rem 2rem;
}
/***************TOUR DATES HP*********************************/
#tourdates{
    background-color: rgba(0,0,0,.7);
}

table{
    text-align: center;
    padding-left: 20rem;
}
td{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
    padding: .5rem .5rem;

}


/*****************************ABOUT HOME PAGE**********************/

#about{
    background: black;

}
#about h2,#about h4, #about p{
    margin-bottom: 5rem;
}
#about #intro{
    max-width: 50%;
    border: 2px solid green;

}
#about img{
    max-width: calc(50%);

}
#about #members{
    width: 25%;
    float:right;
    padding: 2rem;
    border: 2px solid red;
    margin: auto;
}
/****************NEWS PAGE******************************************/
#blogPage{
    max-width: 50%;
    background: black;
    border-right: 3px solid white;
    padding-left: 5rem;
}
#blogPage article, #sidebar h2{

    padding-bottom: 2rem;
}
#blogPage article{
    max-width: 1000px;
}
#sidebar{
    background: #000;
    max-width: 45%;
    float: right;
    display: block;
    clear: right;
}
#sidebar li{
    list-style: disc;
    padding-bottom: 2rem;
}
/*********************ABOUT PAGE**************************************/
#team{
    background: #000;
    max-width: 1200px;
    padding-left: 15rem;
}
#team li{
    padding: 1rem;
    max-width: calc(100%/2);
    text-align: center;
    display: inline-block;
}
/********************************CONTACT PAGE************************/
#map,#miscInfo,#contactInfo{
    background: #000;
}
form div{
    display: inline;
}
#textBox{
    display: block;
}
#map img{
    max-width: 100%;
}

/*************TOURDATES PAGE****************************************/
#tours ul{
    padding-top: 5rem;
}
#tours li{
    padding: 1rem 1rem 2rem 2rem;
    display: inline-block;
    width: calc(100%/3);
}
#tours button{
    float: left;
    margin: .3rem;
}
#tours{

    padding-left: 2rem;
}




/*******************TYPOGRAPHY*****************************************/
h2,h3,h4,button{
    text-transform: uppercase;
}
#blog h2, #about h2{
    border-left: 1px solid #A5A5A5;
    margin-left: .1rem;
}
h2 {
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #A5A5A5;
    font-weight: 900;

}
strong {
    font: 5.0rem/1 "Program OT",arial,sans-serif;
    color: #E5E5E5;
    display: block;
    font-weight: 900;

}
#blog, h2{
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #888888;
    font-weight: 900;
}
#blog strong{
    font: 5.0rem/1 "Program OT", arial, sans-serif;
    color: #444444;
    display: block;
    font-weight: 900;
}
#blog h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color: #444444;
    font-weight: 500;
}
h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
}
h4{
    font: 1.6rem/1.25 "Program OT", arial, sans-serif;
    color: #EEEEEE;
}
p,li{
    font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
    color: #888888;
}
#tourdates h2{
    text-align: right;
    margin-right: 5rem;
    border-right: 1px solid #A5A5A5;
}
#tourdates h3{
    max-width: 300px;
    background-color: #9B59B6;
    text-align: center;
}
#tourdates em{
    display: block;
    font: 1.8rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;

    font-weight: 500;
}
#tourdates h2{

}

#tours h2{
    font: 5.0rem/1 "Program OT",arial,sans-serif;
    color: #E5E5E5;
    display: block;
    font-weight: 900;
}
/*****************BUTTONS*********************/
#single button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;
    padding: 10px 20px;
    border-bottom: 3px solid #783C90;

}
button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;
    padding: 10px 20px;
}
/*****************************************************************************/






