/* Rock Band CSS
================================================== 
================================================== */
/** Default **/

html {
    font-size: 62.5%;
}
/*****************BODY FONT*****************/
body{
    font: 1.6rem/1.25 "Program OT",arial,sans-serif;
    color: #888888;
    background: url("../images/band.jpg")no-repeat;

}
/*************** BASE STRUCTURE **************/
	header{

        max-width: 1500px;
}

.logo{
    padding-left: 50px;
    padding-top: 75px;
}

nav{
    font: 2.0rem "Program OT";
    font-weight: 900;
    color: #EEEEEE;
    text-transform: uppercase;
    margin-left: 5rem;
    margin-top: 2rem;
}
nav a:link{
    color: #EEEEEE;
    opacity: 50%;
}
nav a:visited{
    color: #ffffff;

}
nav a:hover{
    opacity: 100%;
}
nav a:active{
    color: #EEEEEE;
    border-left: 3px #9B59B6 ;

}

 
    /*******************TYPOGRAPHY***********************/
h2,h3,h4,button{
    text-transform: uppercase;
}
h2 {
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #A5A5A5;

    font-weight: 900;
}
strong {
    font: 5.0rem/1.50 "Program OT",arial,sans-serif;
    color: #E5E5E5;

    display: block;
    font-weight: 900;

}

#blog, h2{
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #888888;

}
#blog strong{
    font: 5.0rem/1.50 "Program OT", arial, sans-serif;
    color: #444444;

    display: block;
}
h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
}
p,li{
    font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
    color: #888888;
}
/*****************BUTTONS*********************/
#single button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;

    padding: 10px 20px;
    border-bottom: 3px #783C90;

}
button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;

    padding: 10px 20px;
}
/*****************************************************************************/
#single{
    background: #000000;
    width: 35rem ;
    padding: 1rem;
    float: right;
}
#blog{
    max-width: 1500px;
}
#blog img{
    max-width: 100%;
}
#featured {
    max-width: 50%;
    float: left;

}
#blog article{

    width: calc(25%);
    padding: 2rem;
    border: 3px solid blue;
    float: right;
    margin-bottom: 2rem;
   
}

#blog p, #blog h3{
    text-align: center;

}
section{
padding: 2rem 2rem;
}
#about img{
    width: calc(100%/5);
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    

}
footer li{
    display: inline;
    color: #783C90;
}
footer{
    padding-top: 15rem;
}
#tourdates h2{
    text-align: right;
    padding-right: 5rem;
}
#tourdates{
    background-image: url("../images/band.jpg");

}

