/* Rock Band CSS
================================================== 
================================================== */
/** Default **/

html {
    font-size: 62.5%;
}
/*****************BODY FONT*****************/
#homepageBody{
    background: url("../images/band.jpg") repeat;
}
body {
    font: 1.6rem/1.25 "Program OT", arial, sans-serif;
    color: #888888;
    background: #000;
}
    /*************** BASE STRUCTURE **************/

header{
    margin-bottom: 13rem;
}
#blog{
    padding-top: 2rem;
    background: #ffffff;
}
#tourdates{
    background-color: rgba(0,0,0,.5);
}
td{
    padding: .5rem .5rem;
    color: #ffffff;
}
#tourdates h3{
    max-width: 300px;
    background-color: #9B59B6;
    text-align: center;
}
#tourdates em{
    display: block;
    font: 1.8rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;

    font-weight: 500;
}
#about{
    background: black;
}
footer{
    background: white;
    text-align: center;
}
#blogPage{
    max-width: 1000px;
    background: black;
    border-right: 3px solid white;
    padding-left: 5rem;
}
#blogPage article, #sidebar h2{

    padding-bottom: 2rem;
}
#blogPage article{
    max-width: 1000%;
}
.heading{
    background: url("../images/band.jpg");
    padding-bottom: 13rem;
}
#sidebar{
    background: #000;
    max-width: 800px;
}
#sidebar li{
    list-style: disc;
    padding-bottom: 2rem;
}
#map,#miscInfo,#contactInfo{
    background: #000;
}
#team{
    background: #000;
    max-width: 1200px;
    padding-left: 15rem;
}
#team li{
    padding: 1rem;
    max-width: calc(100%/2);
    text-align: center;
    display: inline-block;
}
.logo{
    padding-left: 50px;
    padding-top: 75px;
}
nav{
    padding-top: 2rem;
}
nav a:link{
    font: 2.0rem/1 "Program OT",arial,sans-serif;
    font-weight: 900;
    color: #EEEEEE;
    text-transform: uppercase;
    margin-left: 5rem;
    margin-top: 2rem;

}
nav a:visited{
    color: #ffffff;
    border-left: 3px solid #9B59B6 ;
}
nav a:hover{
    opacity: 100%;
}
nav a:active{
    color: #EEEEEE;
}
img{
    max-width: 100%;
}
#blog{
    padding-left: 8rem;
}
#featured article{
    max-width: 75%;
}
#blog article{
    width: 25%;
    padding: 2rem;
    margin-bottom: 2rem;
    float: right;
}

#blog p, #blog h3{
    text-align: center;
}
section{
    padding: 2rem 2rem;
}
#about img{
    width: calc(25%);
    display: inline-block;
    max-width: 100%;
    padding: 2rem;
}
footer li{
    display: inline;
    color: #783C90;
}
#single{
    background: #000000;
    width: 35rem ;
    padding: 1rem;
    float: right;
}

    /*******************TYPOGRAPHY***********************/
h2,h3,h4,button{
    text-transform: uppercase;
}
h2 {
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #A5A5A5;
    font-weight: 900;
}
strong {
    font: 5.0rem/1 "Program OT",arial,sans-serif;
    color: #E5E5E5;
    display: block;
    font-weight: 900;

}
#blog, h2{
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #888888;
    font-weight: 900;
}
#blog strong{
    font: 5.0rem/1 "Program OT", arial, sans-serif;
    color: #444444;
    display: block;
    font-weight: 900;
}
#blog h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color: #444444;
    font-weight: 500;
}
h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
}
p,li{
    font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
    color: #888888;
}
#tourdates h2{
    text-align: right;
    padding-right: 5rem;
}
form div{
    display: inline;
}
#textBox{
    display: block;
}
#map img{
    max-width: 100%;
}
/*****************BUTTONS*********************/
#single button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;
    padding: 10px 20px;
    border-bottom: 3px solid #783C90;

}
button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;
    padding: 10px 20px;
}
/*****************************************************************************/






