/* Rock Band CSS
================================================== 
================================================== */
/** Default **/

html {
    font-size: 62.5%;
}
/*****************BODY FONT*****************/
body{
    font: 1.6rem/1.25 "Program OT",arial,sans-serif;
    color: #888888;
    background: #CCCCCC;
}
/*************** BASE STRUCTURE **************/
	header{
    background-image: url("../images/band.jpg");
    height: 788px;
}
.logo{
    padding-left: 50px;
    padding-top: 75px;
}
nav{
    font: 2.0rem "Program OT";
    font-weight: 900;
    color: #EEEEEE;
    text-transform: uppercase;
    margin-left: 5rem;
    margin-top: 2rem;
}
nav a:link{
    color: #EEEEEE;
    opacity: 50%;
}
nav a:visited{
    color: #ffffff;

}
nav a:hover{
    opacity: 100%;
}
nav a:active{
    color: #EEEEEE;
    border-left: 3px #9B59B6 ;

}
    /*******************TYPOGRAPHY***********************/
h2,h3,h4,button{
    text-transform: uppercase;
}
h2 {
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #A5A5A5;

    font-weight: 900;
}
h2 > strong {
    font: 5.0rem/1.50 "Program OT",arial,sans-serif;
    color: #E5E5E5;

    display: block;
    font-weight: 900;

}

#blog, h2{
    font: 2.0rem/1.25 "Program OT",arial,sans-serif;
    color: #888888;

}
#blog, h2 > strong{
    font: 5.0rem/1.50 "Program OT", arial, sans-serif;
    color: #444444;

    display: block;
}
h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
}
p,li{
    font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
    color: #888888;
}
/*****************BUTTONS*********************/
#single button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;

    padding: 10px 20px;
    border-bottom: 3px #783C90;

}
button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;

    padding: 10px 20px;
}
/*****************************************************************************/
#single{
    background: #000000;
   width: 35rem ;
    padding: 1rem;
    margin-left: 100rem;
    margin-top: -10rem;
}


#blog img{
    max-width: 100%;
    max-height: 100%;

}
#blog article{

    width: calc(100%/5);
    float: left;
   
}
#blog p, #blog h3{
    text-align: center;

}

#about img{
    max-width: 100%;
    max-height: 100%;

}
footer li{
    display: inline;
    color: #783C90;
}
footer{
    padding-top: 15rem;
}

