/* Rock Band CSS
================================================== 
================================================== */
/** Default **/

html {
    font-size: 62.5%;

}
/***************=========================** BODY FONT ===========================*****************/
#homepageBody{
    background: url("../images/band.jpg") no-repeat fixed;
    background-size: 100%;
    position: relative;
}
body {
    font: 1.6rem/1.25 "Program OT Book", arial, sans-serif;
    color: #888888;
    background: #000;
}
    /***************========================================= BASE STRUCTURE *========*************/
.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}
header{
    margin-bottom: 13rem;
}
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: white;
    text-align: center;
}
footer li{
    display: inline-block;
    padding-right: 1rem;
    color: #783C90;
}
.heading{
    background: url("../images/band.jpg");
    padding-bottom: 13rem;
}
/*=========================================================SOCIAL MEDIA LINKS*******=============**/
footer a {
    display: block;
    height: 4rem;
    width: 4rem;
}
.social{
    text-indent: -9999px;
    background: url("../images/social.png");
    background-size: 20rem 8rem;
}
.social:hover{
    background-position-y: -4rem;
}
a[href=facebook] {background-position-x: 0;}
a[href=twitter] {background-position-x: -4rem;}
a[href=youtube] {background-position-x: -8rem;}
a[href=google] {background-position-x: -12rem;}
a[href=instagram] {background-position-x: -16rem;}

/**========================================================================================*/

.logo{

    padding-top: 75px;
}
img{
    max-width: 100%;
}

/*************  NAVIGATION   *************==================================================****/
nav{
    padding-top: 2rem;
}
nav li{
    padding: .5rem;
}
nav a{
    font: 2.0rem/1 "Program OT",arial,sans-serif;
    font-weight: 700;
    color: #EEEEEE;
    opacity: 0.5;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-left: 3px solid transparent;
    padding-left: .5rem;
}
nav a:visited{
    color: #EEEEEE;
    opacity: 0.5;
}
nav a:hover{
    color:#EEEEEE;
    opacity: 1.0;
    border-left: 3px solid #9B59B6;
    padding-left: .5rem;
}
#navabout,#navcontact,#navnews,#navtour{
    color: #EEEEEE;
    opacity: 1.0;
    border-left: 3px solid #9B59B6 ;
    padding-left: .5rem;
}

/***********************HOME PAGE*************=============================================******/
/**************================= SINGLE ********========================================********/
#single{
    background: #000000;
    width: 45rem ;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
    padding-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    float: right;
}

/***********************Blog Section HP***********===========================================*/
#blog{
    padding-top: 2rem;
    background: #ffffff;
}
#blog h2{
    margin-bottom: 4rem;
}
#blog #featured {
    width: 50%;
}
#blog #featured h3,#blog #featured p{
    width: 75%;
    position: relative;

    padding-left: 2rem;
}
#blog h3, #blog article p{
    color: rgba(255,255,255,1);
}
#blog article{
    width: calc(25%);
    padding-right: 2rem;
    float: left;
}
#blog #featured img{
    height: 565px;
}
#blog article h3,#blog article p{
    background: rgba(0,0,0,.7);
    color: rgba(255,255,255,.7);
    width: 75%;
    position: relative;
    bottom: 13rem;
    padding-left: 2rem;

}
#blog h3::after{
    content: '';
    display: block;
    width: 40%;
    height: .5rem;
    background: grey;
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    z-index: 1;
}
#blog img{
    display: block;
    filter: grayscale(100%);
    position: relative;

}
#blog article:hover img{
    filter: grayscale(0%);
}
#blog article:hover h3{
    background: #9B59B6;
}
#blog article:hover p{
    background: #9B59B6;
}
#blog article:hover h3::after{
    content: '';
    display: block;
    width: 40%;
    height: .5rem;
    background: #9B59B6;
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    z-index: 1;
}

section{
    padding: 2rem 2rem;
}
/***************TOUR DATES HP**************************======================================*******/
#tourdates{
    background-color: rgba(0,0,0,.7);
}

table{
    text-align: center;
    padding-left: 20rem;
    margin-bottom: 3rem;
}
td{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
    padding: .5rem .5rem;
}

/*****************************ABOUT HOME PAGE***************===============================*******/

#about{
    background: url("../images/nycity.png") no-repeat bottom center, black;

}
#about h2,#about h4, #about p{
    margin-bottom: 5rem;
}
section::after{
    content: "";
    display: block;
    clear: both;
}
#intro{
    max-width: 50%;
    float: left;
    margin-left: 3rem;
}
#about img{
    max-width: calc(50%);
}
#members{
    width: 40%;
    float:right;
    padding: 2rem;
}
/****************NEWS PAGE*************************************===========================*****/
#blogPage{
    max-width: 50%;
    background: black;
    border-right: 2px solid rgba(255,255,255,.1);
    padding-left: 5rem;
    padding-right: 5rem;
    float:left;
}
#blogPage article, #sidebar h2,#blogPage h2{
    padding-bottom: 2rem;
}
#sidebar{
    background: #000;
    max-width: 45%;
    float: left;
    margin-left: 15%;
}
#sidebar li{
    list-style: disc;
    padding-bottom: 2rem;
    margin-left: 3rem;
}
footer{
    clear: both;
}
#blogPage button{
    float: left;
}
/*********************ABOUT PAGE**********************************-======================***/
#team{
    background: #000;
}
#team li{
    padding: 1rem;
    max-width: calc(100%/2);
    text-align: center;
    display: inline-block;
    min-height: 100%;

}
#team p{
      padding: 1rem;

  }

/********************************CONTACT PAGE*******************=======================*****/
#map,#miscInfo,#contactInfo{
    background: #000;
}
#map img{
    width: 100%
}
#contactInfo{
    width: 20%;
    float: left;

}
#contactInfo h2{
    margin-bottom: 5rem;
}

#contactInfo a{
    color: rgba(255,255,255, .7);

}
#miscInfo{
    width: 70%;
    float: right ;
}
#miscInfo p{
    width: 800px;
    margin-bottom: 3rem;
}
input{
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 300px;
    height: 2.5rem;
    border-radius: 1rem;
}
form div{
    display: block;
    float: left;
}
label {
    display: block;
    width: 15%;
}
textarea{
    width: 920px;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
#map h2,#contactInfo h2, #miscInfo h2{
    font: 5.0rem/1 "Program OT Bold",arial,sans-serif;
    color: #E5E5E5;
    font-weight: 900;
    margin-bottom: 1rem;
}
#miscInfo em{
    font: 1.6rem/1.25 "Program OT Book Italic", arial, sans-serif;
    font-style: italic;
}


/*************TOURDATES PAGE************************************===================****/
#tours ul{
    padding-top: 5rem;
}
#tours li{
    padding: 1rem 1rem 2rem 2rem;
    display: inline-block;
    width: calc(100%/3);
}
#tours button{
    float: left;
    margin-right: 4rem;
}

/*******************TYPOGRAPHY************************************=================*****/
h2,h3,h4,button{
    text-transform: uppercase;
}
#blog h2, #about h2{
    border-left: 1px solid #A5A5A5;
    margin-left: .1rem;
    padding-left: 1rem;
}
h2 {
    font: 2.0rem/1.25 "Program OT Bold Book",arial,sans-serif;
    color: #A5A5A5;
    font-weight: 900;

}
strong {
    font: 5.0rem/1 "Program OT Bold Book",arial,sans-serif;
    color: #E5E5E5;
    display: block;
    font-weight: 900;

}
#blog, h2{
    color: #888888;
}
#blog strong{
    color: #444444;
}
#blog h3{
    color: #444444;
}
h3{
    font: 3.5rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;
    font-weight: 500;
}
h4{
    font: 1.6rem/1.25 "Program OT Bold Book", arial, sans-serif;
    color: #EEEEEE;
}
p,li{
    font: 1.6rem/1.25 "Program OT Book", Arial, sans-serif;
    color: #888888;
}
#tourdates h2{
    text-align: right;
    margin-right: 5rem;
    border-right: 1px solid #A5A5A5;
    padding-right: 1rem;
}
#tourdates h3{
    max-width: 300px;
    background-color: #9B59B6;
    text-align: center;
    padding: 30px 30px 60px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
}
#tourdates em{
    display: block;
    font: 1.8rem "Program OT Book",Arial,sans-serif;
    color:#E5E5E5;

    font-weight: 500;
}

#tours h2{
    font: 5.0rem/1 "Program OT Book",arial,sans-serif;
    color: #E5E5E5;
    display: block;
    font-weight: 900;
}
/*****************BUTTONS**************============================*******/

button{
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;
    padding: 10px 40px;
    border-bottom: 3px solid #783C90;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);

}
.links{
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
    background-color: #9B59B6;
    font: 1.4rem "Program OT",Arial,sans-serif;
    color: #EEEEEE;
    padding: 10px 20px;
    border-bottom: 3px solid #783C90;

}

/*****************************************************************************/






